.inner {
  width: 1800px;
  margin: 0 auto;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-family: pretendard, sans-serif;
  background-color: #f6f5ef;
  font-size: 16px;
  color: #212121;
}
.point {
  color: #1e3932;
}
.white{
color:#FFFFFF;
}
.gray{
color:#BCBCBC;
}
.bold{
  font-weight:bold;
}
.icon {
  width: 24px;
  height: 24px;
}
.title {
  font-size: 48px;
}
.sub_title {
  font-size: 32px;
}
.fll {
  float: left;
}