*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #212121;
  background-color: #f6f5ef;
  max-width: 1920px;
  overflow-x: hidden;
}
.inner {
  width: 1800px;
  margin: 0 auto;
}
a {
  color: #212121;
  text-decoration: none;
}
.inner::after {
  content: "";
  clear: both;
  display: block;
}
header {
  position: fixed;
  width: 1920px;
  background: linear-gradient(180deg, rgba(246,245,239,1) 0%, rgba(246,245,239,1) 80px, rgba(33,33,33,1) 80px, rgba(33,33,33,1) 100%);
  height: 80px;
  overflow: hidden;
  transition: height 0.6s;
  z-index: 5;
  box-shadow: 0 1px 5px #212121;
}
header  .gnb > li {
  float: left;
  text-transform: uppercase;
  padding: 0 70px;
  position: relative;
  line-height: 80px;
}
header h1 {
  width: 215px;
  height: 48px;
  float: left;
  margin: 16px 216px 0 0;
}
nav {
  margin-right: 216px;
  float: left;
  box-sizing: border-box;
}
.gnb > li:last-child {
  margin-right: 0;
}
.gnb > li > a {
  display: block;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.sub_depth > li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.gnb .sub_depth {
  position: absolute;
  top: 90px;
}
header .gnb > li  .sub_depth li{
  line-height: 60px;
}
.sub_depth li a{
  color: #fff;
}
.icon_depth {
  float: left;
  margin-top: 26px;
}
header .icon_depth > li {
  margin-right: 20px;
  float: left;
  padding:0 0 40px 0;
}
header .icon_depth > li:last-child {
  margin-right: 0;
}
header .icon_depth > li > a {
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
}
header .icon_depth > li:first-child a {
  background-image: url(../images/login_icon.png);
  height: 26px;
}
header .icon_depth > li:nth-child(2){
  position: relative;
}
header .icon_depth > li:nth-child(2) > a {
  background-image: url(../images/lang_icon.png);
}
header .icon_depth > li:nth-child(3) a {
  background-image: url(../images/menu_icon.png);
}
#login {
  width: 1920px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  visibility: hidden;
  z-index: 999;
  transition: all 0.5s ;
  opacity: 0;
}
form{
  border: none;
}
.login_wrap {
  width: 462px;
  height: 330px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  background-color: #fff;
}
.box_p {
  width: 400px;
  position: relative;
  margin-left: 30px;
}
.box_p i {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 48px;
}
.logo{
  margin:20px 0 20px 122.5px;
}
label {
  text-indent: -9999px;
  overflow: hidden;
  display: none;
  width: 400px;
}
input {
  width: 400px;
  height: 48px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #bcbcbc;
}
.box_p:nth-of-type(1) input,
.box_p:nth-of-type(2) input{
  padding-left: 45px;
}
.box_p:nth-of-type(2) input{
  border-radius: 0 0 10px 10px;
  border-top: 0px;
  margin-bottom: 20px;
}
.login_btn{
  margin-left: 30px;
  border-radius: 10px;
  background-color: #1e3932;
  cursor: pointer;
  color: #fff;
}
.login_btn:active{
  background-color: #182522;
}
.sign{
  margin:10px 0 0 210px;
}
#login .sign li{
  float: left;
}
#login .sign li a{
  color: #bcbcbc;
  font-size: 14px;
}
.sign li::after{
  content: '|';
  color: #bcbcbc;
  margin: 0 5px 0 5px;
}
.sign li:last-child:after{
  content: '';
}
.close_btn,.close_btn_2{
  position: absolute;
  top: 60px;
  right: 60px;
}
.close_btn i,.close_btn_2 i{
  color: #fff;
  font-size: 32px;
}
.lang{
  width: 70px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 54px;
  right: -25px;
  background-color: #F6F5EF;
  z-index: 10;
  box-shadow: 0 0px 1px #000;
  padding-top: 10px;
  border-bottom:1px solid #212121 ;
  visibility: hidden;
  opacity: 0;
}
.lang li {
  margin-bottom: 10px;
  line-height: 20px;
  text-align: center;
}
.lang li a{
  padding: 5px;
  border-bottom:1px solid #bcbcbc ;
}
.lang li:last-child a{
  border: none;
}
.lang li a:hover{
  color: #fff;
  background-color: #1e3932;
}
aside {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  position: fixed;
  right: -100%;
  opacity: 0;
  top: 0;
  z-index: 999;
  transition: all 0.5s;
}
.l_contents{
  position: relative;
}
.aside_logo{
  margin: 60px 0 150px 60px;
}
aside a{
  color: #bcbcbc;
}
.aside_gnb{
  margin-left:300px;
  position: absolute;
}
.aside_gnb > li{
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 65px;
  position: relative;
}
.aside_gnb  li:hover{
  color: #fff;
  text-decoration: underline;
}
.aside_gnb li:hover > a{
  color: #fff;
}
 .aside_gnb li:hover .gnb_sub_depth{
  display: block;
} 
.aside_gnb .gnb_sub_depth{
  position: absolute;
  left: 350px;
  display: none;
  top: 40%;
  transform: translateY(-50%);
  
}
.aside_gnb .gnb_sub_depth li{
  font-size: 24px;
  margin-bottom: 30px;
}
.aside_r_c{
  position: absolute;
  right: 60px;
  bottom: 100px;
}
.aside_r_c_depth li{
margin-bottom: 20px;
text-align: right;
}
.sns_icon li{
  float: left;
  margin-left: 10px;
}
.sns_icon li a{
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
}
.aside_r_c_depth a:hover{
  color: #fff;
  text-decoration:underline;
}
.sns_icon li:first-child a{
  background: url(../images/instagram_icon.png) no-repeat;
}
.sns_icon li:nth-child(2) a{
  background: url(../images/facebook_icon.png) no-repeat;
}
.sns_icon li:nth-child(3) a{
  background: url(../images/youtube_icon.png) no-repeat;
}
.gnb_sub_depth li:last-child{
  margin-bottom: 0;
}
#main_sl_wrap{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#main_sl_wrap ul{
  transition: all 0.5s ease-in-out;
  left: 0;
  position: absolute;
}
#main_sl_wrap ul li {
  float: left;
  width: 100vw;
}
.sl_btn {
  width: 170px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  color: #fff;
  line-height: 50px;
  font-weight: bold;
}
.sl_btn p {
  line-height: 50px;
  float: left;
  letter-spacing: 5px;
  position: absolute;
}
.sl_btn p:nth-of-type(1){
  left: 20px;
}
.sl_btn p:nth-of-type(2){
  left: 50%;
  transform: translateX(-50%);
}
.sl_btn p:nth-of-type(3){
  right: 16px;
}
.sl_btn p i {
  color: #fff;
  font-size: 24px;
  line-height: 50px;
}
